@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 5.5%;
    --foreground: 0 0% 100%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 262 83% 80%;
    --primary-foreground: 262 90% 12%;
    --secondary: 187 100% 50%;
    --secondary-foreground: 187 100% 10%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 68%;
    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 100%;
    --destructive: 350 100% 71%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 28%;
    --input: 0 0% 28%;
    --ring: 262 83% 80%;
    --radius: 0.75rem;
  }

  html {
    overflow-y: scroll;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background font-body text-foreground antialiased selection:bg-primary/30 selection:text-primary-foreground;
  }
}

@layer utilities {
  .dlg-scroll {
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-gutter: stable;
  }

  .dlg-scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .dlg-scroll::-webkit-scrollbar-thumb {
    @apply rounded bg-muted-foreground/40;
  }

  .dlg-scroll::-webkit-scrollbar-track {
    @apply bg-muted;
  }

  .custom-scrollbar {
    scrollbar-gutter: stable;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-muted;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-muted-foreground/50;
  }
}
